.icon {
    font-size: 92px;
}

.title {
    font-size: 40px;
    color: white;
    max-width: 100%;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.date {
    font-size: 25px;
    font-weight: bold;
    color: #6CB3FF;
}

.descriptionContainer {
    margin: 40px 0px;
}

.description {
    width: 100%;
    max-width: 100%;
    font-size: 25px;
    color: #E7EBF5;
    text-overflow: ellipsis;
}

.link > a {
    font-size: 25px;
    font-weight: bold;
    color: #89F7FE;
    text-decoration: none;
}
