/* Newsletter Heading Styling */
.newsletter-heading {
    color: white;
    font-family: 'Montserrat';
    font-size: 20px;
    height: auto;
}

/* Newsletter Caption Styling */
.newsletter-caption {
    color: white;
    font-family: 'Montserrat';
    font-size: 20px;
    height: auto;
}

/* Subscribe Button Styling */


/* Email Field Styling */