.event-table-wrapper {
    background-image: radial-gradient(var(--color-gray-5) 8%, transparent 8%),
        radial-gradient(var(--color-gray-5) 8%, transparent 8%);
    background-position: 0 0, 50px 50px;
    background-size: 100px 100px;
    background-color: var(--color-black);
    border-radius: var(--border-radius);
    border: 4px solid var(--color-blue);
    overflow: hidden;
}

@media (prefers-reduced-motion: no-preference) {
    .pulse {
        animation: pulse 1s 1 forwards;
    }
}

@keyframes pulse {
    0% {
        box-shadow: 0px 0px 0px rgba(41, 202, 83, 0),
            0px 0px 0px rgba(41, 202, 83, 0), 0px 0px 0px rgba(41, 202, 83, 0);
        border-color: var(--color-blue);
    }
    100% {
        box-shadow: var(--neon-box-shadow);
        border-color: var(--color-light-blue);
    }
}
