.footer-container {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     padding: 1rem;
     background-color: var(--color-gray-4);
     color: #fff;
     font-size: 1.2rem;
     font-weight: 300;
     text-align: center;
     margin-top: 1rem;
}

.footer__info {
     display: flex;
     flex-direction: column;
     text-align: center;
     justify-content: center;
     align-items: center;
}

.footer__socials {
     margin-top: 1rem;
     margin-bottom: 1rem;
}