html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #1b1c1f;
  }
  
  #root {
    height: 100%;
  }
  
  .error-404-container {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
  }
  