:root {
     --color-black:#000000;
     --color-white:#FFFFFF;
     --color_blue: #29ABF4;
     --color-light-blue: #A1DAF5;
     --color-pink: #FF41D5;
     --color-blue-gradient: linear-gradient(145deg, rgba(41,171,244,1) 0%, rgba(161,218,245,1) 100%); 
     --color-pink-gradient: linear-gradient(145deg, rgba(41,171,244,1) 0%, rgba(255,65,213,1) 100%);

     /* 5(0) Shades of Gray, lower number the brighter */
     --color-gray-0: #F8F8F8;
     --color-gray-1: #E7EBF5;
     --color-gray-2: #B2BECD;
     --color-gray-3: #454E56;
     --color-gray-4: #2C3844;
     --color-gray-5: #12181B;

     --color-shadow: filter: drop-shadow(0px 4px 4px rgba(18, 24, 27, 0.25));
     --color-neon-border: border: 2px solid var(--color-blue);
     --color-neon-effect: filter: drop-shadow(0px 0px 24px var(--color-light-blue));

     /* Default Dark Theme */
     --color-background: var(--color-black);
     --color-primary: var(--color-blue);
     --color-secondary: var(--color-light-blue);
     --color-title: var(--color-white);
     --color-text: var(--color-gray-2);
     --color-card: var(--color-gray-4);
}

.light-theme {
     --color-background: var(--color-gray-0);
     --color-title: var(--color-gray-5);
     --color-text: var(--color-gray-3);
     --color-card: var(--color-gray-1);
     --color-neon-effect: filter: drop-shadow(0px 0px 24px var(--color-blue));
}
