/* STYLING FOR ACCORDION MENU (subject to change) -- includes box, icon and panel for expand
.faq__question {
     text-align: left;
     padding-left: 10px;
     font-size: 24px;
     font-weight: bold;
     width: 100%;
     line-height: 70px;
     height: 70px;
     border: solid #C4C4C4 1px;
     background-color: black;
     cursor: pointer;
     transition: 0.4s;
 }
 
 .active, .faq__question:hover {
     background-color: #202327;
     border: solid #C4C4C4 1px;
   }
 
 
 .panel {
     font-size: 14px;
     font-weight: lighter;
     line-height: 20px;
     padding: 0 18px;
     background-color: black;
     max-height: 100vh;
     overflow: hidden;
     transition: max-height 0.2s ease-out;
   }
 
 .icon__expand {
     float: right;
     margin-right: 30px;
 } */